/*============================================

[Table of content]

1. Large devices (less than 1200px)
2. Large tablets (less than  992px)
3. Medium devices (less than  768px)
4. Small devices (less than  576px)
5. Extra Small devices (less than  480px)

============================================*/


@media (min-width: 1401px) and (max-width: 3000px) {
    .banner-inner-area.banner-area1:before {
        right: 0px;
        
    }
}

/* 1. Large devices (less than 1200px) */
@media (max-width: 1199.98px) {
    .bg-url-end-1
    {
        background-position: 20%;
    }
    .header-menu>ul>li {
        padding-left: 13px;
        padding-right: 13px;
    }

    .banner-inner-area.banner-area1:before {
        width: 100%;
        height: 100%;
        background-position: 60%;
    }

    .user-interact-image {
        width: 600px;
        margin-left: -70px;
    }

    .user-interact-image.type2 {
        margin-left: 0;
        width: 550px;
    }

    .app-scrin-inner {
        max-width: 992px;
    }

    .single-author-comment h4 {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 24px;
    }

    .single-blog-inner .post-title h3 {
        font-size: 20px;
        line-height: 32px;
    }

    .download-app-inner h2.h1 {
        font-size: 42px;
        line-height: 55px;
        margin-bottom: 18px;
    }

    .download-app-inner h3 {
        font-size: 24px;
        margin-bottom: 55px;
    }

    .banner-text-inner .btn+.btn {
        margin-left: 10px;
        margin-top: 0;
    }

   
}

/* 2. Large tablets (less than  992px) */
@media (max-width: 991.98px) {

    section#pricing {
        padding-bottom: 0;
    }
    .pb-120 {
        padding-bottom: 80px;
    }

    .pt-120 {
        padding-top: 80px;
    }
    .header-style2 .header-menu>ul>li>a {
        color:var(--primary);
    }

    .banner-text-inner h1 {
        font-size: 40px;
    }
    

    .banner-shape-inner .shape5 {
        top: 31%;
        left: 49%;
    }

    .main-menu-wrap .btn {
        border-color: var(--primary);
    }
    
  
    /* Header */
    .main-header .row {
        position: relative;
    }

    .main-header .row>div:nth-child(2) {
        position: static;
    }

    .main-header {
        padding: 10px 0;
    }


    .single-conatct-info h4 {
        margin-bottom: 15px;
    }

    .single-conatct-info {
        padding: 30px 20px 24px 20px;
    }

    .page-title-wrap {
        padding-top: 150px;
        padding-bottom: 140px;
    }

    .section-title {
        margin-bottom: 16px!important;
    }

    .section-title h2 {
        font-size: 36px!important;
        margin: 16px 0;
    }

    .section-title {
        margin: -8px 40px 50px;
    }

    .header-menu>ul>li>a>img,
    .header-menu>ul>li.active>a img,
    .header-menu>ul>li>a:hover img {
        display: none;
        margin-bottom: 0;
    }

    .main-header .header-menu>ul>li:hover>a,
    .main-header .header-menu>ul>li.active>a {
        color: var(--hookers-green);
    }

    .main-header.sticky .header-menu>ul>li:hover>a,
    .main-header.sticky .header-menu>ul>li.active>a {
        color: var(--hookers-green);;
    }

    .header-menu ul li a {
        color:var(--primary);
    }

    .main-header.sticky .header-menu>ul>li>a {
        color:var(--primary);
    }

    .header-menu ul ul li a {
        background: #081340;
        color:var(--primary);
    }

    .main-header.sticky .header-menu ul ul li a,
    .main-header .header-menu ul ul li a {
        background: #36324a;
        color:var(--primary);
    }

    .single-counter .counter {
        font-size: 40px;
        margin-bottom: 15px;
    }

    .user-interact-inner h2 {
        line-height: 48px ;
        font-size: 36px ;
    }

    .single-author-comment h4 {
        font-size: 18px;
        line-height: 1.4;
        margin-bottom: 24px;
    }

    .download-app-inner h2.h1 {
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 18px;
    }

    .pb-110 {
        padding-bottom: 50px;
    }

    .pb-90 {
        padding-bottom: 30px;
    }

    .pt-120 {
        padding-top: 60px;
    }

    .user-interact-image {
        margin-bottom: 30px;
    }

    .pb-120 {
        padding-bottom: 60px;
    }

    .pt-110 {
        padding-top: 50px;
    }

    .pb-150 {
        padding-bottom: 60px;
    }

    .footerbg {
        margin-top: 0px;
    }

    .footer-widget {
        margin-bottom: 30px;
    }

    footer.footer {
        position: relative;
        background: #F7F6F9;
        padding-top: 35px;
    }

    .footerbg,
    .footerbg img {
        display: none;

    }

    .footer-bottom {
        padding: 34px 0 47px;
    }

    .user-interact-image.type2 {
        margin-bottom: 0;
        margin-top: 30px;
    }

    .theme-video-wrap {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .theme-video-wrap .video-btn {
        height: 100px;
        width: 100px;
        line-height: 100px;
    }

    .pt-115 {
        padding-top: 60px;
    }

    .pb-80 {
        padding-bottom: 20px;
    }

    .theme-pagination {
        margin-bottom: 60px;
    }

    .contact-page-form button {
        margin-bottom: 50px;
    }

    .header-2.inner-header a.btn {
        border-color: var(--primary);
    }


    .main-header.sticky.inner-header.header-2 .sticky-logo {
        display: block !important;
    }
    .main-header.sticky.inner-header.header-2 .main-logo2 {
        display: none !important;
    }
    
}

@media (max-width: 991px) {
    .banner-inner-area.banner-area1:before,
    .banner-inner-area.banner-area1.banner2:before {
        
    }
    .footerbg {
        display: none;
    }

    .pb-80 {
        padding-bottom: 60px;
    }

    .pt-115 {
        padding-top: 80px;
    }
    .pb-110 {
        padding-bottom: 80px;
    }

    footer.footer {
        position: relative;
        background: #F7F6F9;
    }

    .pb-150 {
        padding-bottom: 80px;
    }

    .single-price-plan.active {
        border: 2px solid var(--primary);
        padding: 70px 0 80px;
        margin-top: -20px;
        margin-bottom: 20px;
    }

    .single-price-body .price-list li {
        font-size: 14px;
        line-height: 30px;
    }

    .single-price-top span {
        font-size: 47px;
        line-height: 40px;
    }

    .single-price-top h4 {
        color: #36324a;
        margin-bottom: 25px;
        font-size: 20px;
    }

    .single-author-comment h4 {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 21px;
    }

    .testimonial-author-arousel {
        padding-bottom: 30px;
    }

    .pt-110 {
        padding-top: 80px;
    }

    .single-counter .counter {
        font-size: 40px;
    }

    h1,
    .h1 {
        font-size: 32px;
        line-height: 50px;
    }

    .theme-video-wrap {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .user-interact-inner h2 {
        margin-bottom: 20px;
    }

    .user-interact-image {
        width: 100%;
        margin-left: 0;
    }

    .user-interact-image img {
        max-width: 100%;
    }

    .user-interact-image.type2 {
        margin-left: 0;
        width: 100%;
    }

    .single-blog-inner .post-title h3 {
        font-size: 14px;
        line-height: 28px;
    }

    .single-blog-inner .post-details p {
        font-size: 13px;
        line-height: 30px;
        margin-bottom: 16px;
    }

    .download-app-inner h2.h1 {
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 18px;
    }

    .download-app-inner h3 {
        font-size: 13px;
        margin-bottom: 20px;
    }

    .download-app-inner .btn {
        border-color: var(--primary);
        color: #fff;
        background: var(--primary);
        margin-bottom: 4px;
        font-size: 14px;
        font-weight: 600;
        padding: 11px 33px;
    }

    .logo img {
        max-width: 100px;
    }
    .single-price-plan.active{
        margin-bottom: 40px;
    }
    
}


/* 3. Medium devices (less than  768px) */
@media (max-width: 767.98px) {
    
    .logo img {
        max-width: 100px;
    }
    .btn {
        padding: 12px 25px;
    }

    .center .single-feature-inner {
        margin: 0px;
    }

    .menu-button {
        justify-content: flex-end;
    }

    .post-author-inner {
        display: block;
    }

    .post-author-inner img {
        margin-bottom: 30px;
    }

    .author-details {
        margin-left: 0;
    }

    .comment-author-content a {
        position: relative;
        margin-top: 30px;
    }

    .page-title-content h1.h2 {
        font-size: 42px;
    }

    .section-title {
        margin: -8px 0px 78px;
    }

    .banner-text-inner {
        padding-bottom: 80px;
    }

    .app-carousel .owl-stage-outer {
        overflow: hidden;
    }

   

  
    .download-app-inner {
        padding: 0 0px;
    }

    .footerbg img {
        height: 658px;
    }

    .user-interact-image.type2 {
        width: 100%;
    }

    .pb-115 {
        padding-bottom: 60px;
    }


    

    .header-menu.blog-menu i {
        color: #fff;
    }

    .main-header.sticky .blog-menu.header-menu i {
        color: var(--primary);
    }

    .banner-inner-area.banner-area1.banner2:before {
        height: 99%;
        top: -50%;
        width: 100%;
        right: 0%;
    }

    .main-header.inner-header.header-2 .main-logo2 {
        display: block !important;
    }
    .main-header.sticky.inner-header.header-2 .sticky-logo {
        display: block !important;
    }

    .main-header.sticky.inner-header.header-2 .main-logo2 {
        display: none !important;
    }

    .footerbg {
        display: none;
    }

    footer.footer {
        position: relative;
        background: #F7F6F9;
        padding-top: 35px;
    }
     h2,
    .h2 {
        font-size: 20px !important;
        line-height: 36px !important;
    }
    body,
    p {
        font-size: 14px;
    }
}

/* 4. Small devices (less than  576px) */
@media (max-width: 575.98px) {

    .banner-text-inner p{
        font-size:16px;
    }
    .badge-section{
        bottom: 30px;
    }
    .btn-badge img{
        height: 40px;
    }
    .btn-badge img:first-child{
        margin-right: 15px;
    }

    .author-comment-carousel .owl-next,.author-comment-carousel .owl-prev
    {
        display: none!important;
    }

    .banner-inner-area {
        min-height: 100vh;
        padding: 150px 0 96px;
    }

    .user-interact-image {
        width: 100%;
        margin-left: 0;
    }

   

    .footerbg {
        display: none;
    }

    footer.footer {
        position: relative;
        background: #F7F6F9;
        padding-top: 35px;
    }
    .footer-top {
        padding: 0;
    }

    .widget-body .extra-link .link-left {
        float: none;
        width: 49%;
        display: inline-block;
    }

    .widget-body .extra-link .link-right {
        float: none;
        width: 50%;
        display: inline-block;
    }

    .footer-post-details {
        margin-top: 30px;
    }

    .banner-shape-inner .shape7 {
        top: 103%;
        right: 13%;
    }

    .download-app-inner h2.h1 {
        font-size: 30px;
        line-height: 44px;
        margin-bottom: 18px;
    }

    .urgent-call {
        display: none;
    }

    .menu-button {
        justify-content: flex-end;
    }

   

    .footerbg img {
        width: 100% !important;
        height: 100% !important;
    }

    .banner-inner-area.banner-area1.banner2:before {
        background-position: 28% 3%;
    }

}

/* 5. Extra Small devices (less than  480px) */
@media (max-width: 479.98px) {
    .banner-text-inner .btn+.btn {
        margin-left: 0;
        margin-top: 15px;
    }

    .banner-text-inner .btn {
        margin-right: 50px;
    }

    .app-carousel .single-app-image img {
        width: 90%;
        margin: 40px 20px;
    }

    .app-scrin-inner {
        padding: 0px 0px;
    }

    .banner-inner-area.banner-area1:before{
        background-size: cover;
        top: 0;
    }
   

    .post-tag-share {
        display: block !important;
        text-align: center;
    }

    .post-tag-share .post-tag {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
}

@media (max-width: 379.98px) {
    .app-carousel-inner {
        position: relative;
        width: 320px;
        height: 770px;
        padding: 108px 0px;
        margin-top: 12px;
    }

    .app-carousel .single-app-image img {
        margin: 40px 0px;
    }

    .app-carousel .single-app-image img {
        margin: 40px auto;
    }

    .app-carousel-inner {
        background: transparent;
        padding: 0;
        height: 594px;
    }

    .app-carousel .owl-dots {
        margin-top: 0;
    }

    .banner-inner-area {
        padding: 150px 0 150px;
        min-height: 100vh;
    }

    .testimonial-author-arousel .owl-stage-outer {
        overflow: hidden;
    }



    .header-menu>ul {
        top: 48px !important;
    }

    /* .banner-inner-area.banner-area1:before {
        top: -1% !important;
        right: -213% !important;
        width: 350% !important;
    }*/

    
    .single-author-comment h4 {
        font-size: 12px;
        line-height: 1.4;
        margin-bottom: 24px;
    }

    .testimonial-author-arousel {
        max-width: 326px;
        margin: 0 auto;
        overflow: hidden;
        padding-bottom: 20px;
    }
}